openapi: 3.0.0

info:
  version: "1.0"
  title: "Eventopia"
  description: "Web Resources Specification (A7) for Eventopia"

servers:
  - url: http://lbaw.fe.up.pt
    description: Production server

externalDocs:
  description: Find more info here.
  url: https://web.fe.up.pt/~ssn/wiki/teach/lbaw/medialib/a07

tags:
  - name: "M01: Authentication"
  - name: "M02: Users"
  - name: "M03: Events"
  - name: "M04: Search Events and Filters"
  - name: "M05: Admin"
  - name: "M06: Event Organization and Attendence"
  - name: "M07: Reports"

############################################ AUTENTICATION ############################################

######### LOGIN #########

paths:
  /login:
    get:
      operationId: R101
      summary: "R101: Login Form"
      description: "Provide login form. Access: NUSR"
      tags:
        - "M01: Authentication"
      responses:
        "200":
          description: "Ok. Show log-in UI"
    post:
      operationId: R102
      summary: "R102: Login Action"
      description: "Processes the login form submission. Access: NUSxR"
      tags:
        - "M01: Authentication"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
              required:
                - email
                - password

      responses:
        "302":
          description: "Redirect after processing the email and password."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Login done. Redirect to homepage"
                  value: "/homepage"
                302Error:
                  description: "Failed login. Redirect to login form."
                  value: "/login"

  ######### LOGOUT #########

  /logout:
    post:
      operationId: R103
      summary: "R103: Logout Action"
      description: "Logout the current user. Access: USR, ADM"
      tags:
        - "M01: Authentication"
      responses:
        "302":
          description: "Redirect after processing logout."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful logout. Redirect to login form."
                  value: "/login"

  ######### REGISTER #########

  /register:
    get:
      operationId: R104
      summary: "R104: Register Form"
      description: "Provide new user . Access: NUSR"
      tags:
        - "M01: Authentication"
      responses:
        "200":
          description: "Ok. Sign-up UI"

    post:
      operationId: R105
      summary: "R105: Register Action"
      description: "Processes the new user registration form submission. Access: NUSR"
      tags:
        - "M01: Authentication"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                name:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                confirm_password:
                  type: string
                  format: password
              required:
                - username
                - name
                - email
                - password
                - confirm_password

      responses:
        "302":
          description: "Redirect after processing the new user credentials."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful registration. Redirect to the home page."
                  value: "/homepage"
                302Failure:
                  description: "Failed registration. Redirect to register form."
                  value: "/register"

  ######### RECOVER PASSWORD #########
    
  /recoverPassword:
      get:
        operationId: R106
        summary: "R106: Recover Password Form"
        description: "Provide recover password form. Access: NUSR"
        tags:
          - "M01: Authentication"
        responses:
          "200":
            description: "Ok. Show recover password UI"
      post:
        operationId: R107
        summary: "R107: Recover Password Action"
        description: "Processes the recover password form submission. Access: NUSR"
        tags:
          - "M01: Authentication"

        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  email:
                    type: string
                    format: email
                required:
                  - email

        responses:
          "302":
            description: "Redirect after processing the email."
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: "Successful recover password. Redirect to login form."
                    value: "/login"
                  302Failure:
                    description: "Failed recover password. Redirect to recover password form."
                    value: "/recover_password"


  ############################################ USERS ############################################

  ######### PROFILE #########

  /profile/{id}:
    get:
      operationId: R201
      summary: "R201: View 'Eventopia' profile"
      description: "Show the individual profile. Access: USR"
      tags:
        - "M02: Users"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. Show the eventopia profile"


  ######### EDIT PROFILE #########


  /edit-profile:

    get:
      operationId: R202
      summary: "R202: Edit user profile page."
      description: "Shows the edit profile page. Access: USR"
      tags:
        - "M02: Users"

      responses:
        "200":
          description: "Ok, you can edit now. Show edit profile UI."
        "401":
          description: "Unauthorized. You cannot edit this user profile."
          headers:
            Location:
              schema:
                type: string
              examples:
                401Success:
                  description: "Unauthorized request. Redirect to user profile."
                  value: "/profile"

    post:
      operationId: R203
      summary: "R203: Edit user profile action"
      description: "Processes and saves the changes Access: USR"
      tags:
        - "M02: Users"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                firtName:
                  type: string
                lastName:
                  type: string
                username:
                  type: string
                email:
                  type: string
                  format: email

              required:
              - firstName
              - lastName
              - username
              - email

      responses:
        "302":
          description: "Redirect after processing the new user information."
          headers:
            Location:
              schema:
                type: string
              example:
                302Success:
                  description: "Successful. Redirect to profile page."
                  value: "/dashboard/future/attendee"
  ######### DELETE PROFILE #########

  /delete-profile:
    post:
      operationId: R204
      summary: "R204: Delete user profile action"
      description: "Processes and deletes the user profile. Access: USR, ADM"
      tags:
        - "M02: Users"
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                password:
                  type: string
                  format: password
              required:
                - password
      responses:
        "302":
          description: "Redirect after processing the new user   information."
          headers:
            Location:
              schema:
                type: string
              example:
                302Success:
                  description: "Successful. Redirect to login page."
                  value: "/login"
                302Failure:
                    description: "Failed. Redirect to edit profile page."
                    value: "/profile"
            description: "Unauthorized. You cannot delete this user profile."

######### Dashboard PAGE #########

  /dashboard/future/attendee:
    get:
      operationId: R205
      summary: "R205: Dashboard page"
      description: "Show the dashboard page. Access: USR"
      tags:
        - "M02: Users"

      responses:
        "200":
          description: "Ok. Show the dashboard page."
        "302":
          description: "Redirect after processing the new user information."
          headers:
              Location:
                schema:
                  type: string
                example:
                  302Success:
                    description: "Successful. Redirect to login page."
                    value: "/login"
              
  ######### DELETE #########


  /admin-delete:
    post:
      operationId: R206
      summary: "R206: Delete user action"
      description: "Processes and deletes the user. Access: ADM"
      tags:
        - "M02: Users"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  type: integer
              required:
                - id
      responses:
        "200":
          description: "Ok. You can delete your profile."
        "403":
          description: "Unauthorized. You cannot delete this user profile."


  ######### BLOCK #########

    /admin-block:
        
        post:
          operationId: R207
          summary: "R207: Block user action"
          description: "Processes and blocks the user. Access: ADM"
          tags:
            - "M02: Users"
          
          requestBody:
            required: true
            content:
              application/x-www-form-urlencoded:
                schema:
                  type: object
                  properties:
                    id:
                      type: integer
                  required:
                    - id
          reponses:
            "200":
              description: "Ok. You can block the user."
            "403":
              description: "Unauthorized. You cannot block this user."


  ######### UNBLOCK #########

    /admin-unblock:
        
        post:
          operationId: R208
          summary: "R208: Unblock user action"
          description: "Processes and unblocks the user. Access: ADM"
          tags:
            - "M02: Users"
          
          requestBody:
            required: true
            content:
              application/x-www-form-urlencoded:
                schema:
                  type: object
                  properties:
                    id:
                      type: integer
                  required:
                    - id
          reponses:
            "200":
              description: "Ok. You can unblock the user."
            "403":
              description: "Unauthorized. You cannot unblock this user."

  ######### NOTIFICATIONS ######### 

  /dashboard/future/attendee/notifications:
    get:
      operationId: R209
      summary: "R209: Notifications"
      description: "Show the notifications page. Access: USR, ADM"
      tags:
        - "M02: Users"
      
      responses:
        "200":
          description: "Ok. Show the notifications page."
        "302":
          description: "Redirect after processing the new user information."
          headers:
              Location:
                schema:
                  type: string
                example:
                  302Success:
                    description: "Successful. Redirect to login page."
                    value: "/login"


  ############################################ EVENTS ############################################

  ############################################ REMOVE EVENTS ############################################

  /dashboard/future/organizer/remove-event:

    post:
      operationId: R301
      summary: "R301: Remove event action"
      description: "Processes and removes the event. Access: EVOG"
      tags:
        - "M03: Events"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  type: integer
              required:
                - id
      responses:
        "200":
          description: "Ok. You can remove the event."
        "403":
          description: "Unauthorized. You cannot remove this event."

  ############################################ ADD EVENT ############################################

  /dashboard/future/organizer/add-event:

    post:
      operationId: R302
      summary: "R302: Add event action"
      description: "Processes and adds the event. Access: EVOG"
      tags:
        - "M03: Events"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                eventDateTime:
                    type: string
                    format: date-time
                location:
                  type: string
                organizer_id:
                  type: integer
                url:
                  type: string
                topic_id:
                  type: integer
                startSales:
                    type: string
                    format: date-time
                endSales:
                    type: string
                    format: date-time
                is_public:
                  type: boolean
                available_tickets:
                  type: integer
              required:
                - name
                - description
                - eventdatetime
                - location
                - organizer_id
                - url
                - topic_id
                - start_sales
                - end_sales
                - is_public
                - available_tickets
      responses:
        "200":
          description: "Ok. You can add the event."
        "403":
          description: "Unauthorized. You cannot add this event."

  ############################################ EDIT EVENT ############################################

  /dashboard/future/organizer/editEvent:
    post:
      operationId: R303
      summary: "R303: Edit event action"
      description: "Processes and edits the event. Access: EVOG"
      tags:
        - "M03: Events"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                description:
                  type: string
                date:
                  type: string
                  format: date
                time:
                  type: string
                  format: time
                location:
                  type: string
                image:
                  type: string
                  format: binary
                is_public:
                  type: boolean
                organizer_id:
                  type: integer
                url:
                  type: string
                topic_id:
                  type: integer
              required:
                - id
                - name
                - description
                - date
                - time
                - location
                - is_public
                - organizer_id
                - url
                - topic_id
      responses:
        "200":
          description: "Ok. You can edit the event."
        "403":
          description: "Unauthorized. You cannot edit this event."


  ############################################ EVENT PAGE ############################################  

  /event/{id}:
    get:
      operationId: R304
      summary: "R304: Event page"
      description: "Show the event page. Access: USR, ADM, EVOG"
      tags:
        - "M03: Events"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show the event page."
        "302":
          description: "Redirect after processing the new user information."
          headers:
              Location:
                schema:
                  type: string
                example:
                  302Success:
                    description: "Successful. Redirect to login page."
                    value: "/login"

 ######## CONFIRM ATTENDENCE #########

  /event/confirm-attendence:

    post:
      operationId: R305
      summary: "R305: Confirm attendence action"
      description: "Processes and confirms the attendence. Access: USR"
      tags:
        - "M03: Events"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                event_id:
                  type: integer
              required:
                - event_id
      responses:
        "200":
          description: "Ok. You can confirm attendence."
        "403":
          description: "Unauthorized. You cannot confirm attendence."


  ######### CANCEL ATTENDENCE #########

  /event/cancel-attendence:

    post:
      operationId: R306
      summary: "R306: Cancel attendence action"
      description: "Processes and cancels the attendence. Access: USR"
      tags:
        - "M03: Events"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                event_id:
                  type: integer
              required:
                - event_id
      responses:
        "200":
          description: "Ok. You can cancel attendence."
        "403":
          description: "Unauthorized. You cannot cancel attendence."







  ############################################ SEARCH ############################################



  ################## SEARCH EVENTS ##################

  /browse:

    get:
      operationId: R401
      summary: "R401: Search events"
      description: "Show the search events. Access: USR, ADM, EVOG"
      tags:
        - "M04: Search Events and Filters"
      
      parameters:
        - in: query
          name: search
          schema:
            type: string
          required: true
      
      responses:
        "200":
          description: "Ok. Show the search events."


  ############################################ ADMIN ############################################

  ############################################ ADMIN PAGE ############################################

  /admin:

    get:
      operationId: R501
      summary: "R501: Admin page"
      description: "Show the admin page. Access: ADM"
      tags:
        - "M05: Admin"

      responses:
        "200":
          description: "Ok. Show the admin page."
        "302":
          description: "Redirect after processing the new user information."
          headers:
              Location:
                schema:
                  type: string
                example:
                  302Success:
                    description: "Successful. Redirect to login page."
                    value: "/login"

  ############################################ USER BLOCK ############################################

  /admin/block-user:

    post:
      operationId: R502
      summary: "R502: Block user action"
      description: "Processes and blocks the user. Access: ADM"
      tags:
        - "M05: Admin"
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
              required:
                - user_id
      responses:
        "200":
          description: "Ok. You can block the user."
        "403":
          description: "Unauthorized. You cannot block this user."

  ############################################ USER UNBLOCK ############################################

  /admin/unblock-user:

    post:
      operationId: R503
      summary: "R503: Unblock user action"
      description: "Processes and unblocks the user. Access: ADM"
      tags:
        - "M05: Admin"
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
              required:
                - user_id
      responses:
        "200":
          description: "Ok. You can unblock the user."
        "403":
          description: "Unauthorized. You cannot unblock this user."

 ########## DELETE USER ###########

  /admin/delete-user:

    post:
      operationId: R504
      summary: "R504: Delete user action"
      description: "Processes and deletes the user. Access: ADM"
      tags:
        - "M05: Admin"
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
              required:
                - user_id
      responses:
        "200":
          description: "Ok. You can delete the user."
        "403":
          description: "Unauthorized. You cannot delete this user."


################## SEARCH USERS ##################

  /admin/users:

    get:
      operationId: R505
      summary: "R505: Search users"
      description: "Show the search users. Access: ADM"
      tags:
        - "M05: Admin"
      
      parameters:
        - in: query
          name: search
          schema:
            type: string
          required: true
      
      responses:
        "200":
          description: "Ok. Show the search users."
        "403":
          description: "Unauthorized. You cannot search users."

 ########## EVENT ORGANIZATION AND ATTENDENCE ##########

  ######## CREATE EVENT #########

  /event/create:
      get:
        operationId: R601
        summary: "R601: Create event page"
        description: "Show the create event page. Access: EVOG"
        tags:
          - "M06: Event Organization and Attendence"
  
        responses:
          "200":
            description: "Ok. Show the create event page."
          "302":
            description: "Redirect after processing the new user information."
            headers:
                Location:
                  schema:
                    type: string
                  example:
                    302Success:
                      description: "Successful. Redirect to login page."
                      value: "/login"
  
      post:
        operationId: R601CreateEvent
        summary: "R601: Create event action"
        description: "Processes and creates the event. Access: EVOG"
        tags:
          - "M06: Event Organization and Attendence"
  
        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                title:
                  type: string
                description:
                  type: string
                eventDateTime:
                    type: string
                    format: date-time
                location:
                  type: string
                organizer_id:
                  type: integer
                url:
                  type: string
                topic_id:
                  type: integer
                startSales:
                    type: string
                    format: date-time
                endSales:
                    type: string
                    format: date-time
                is_public:
                  type: boolean
                available_tickets:
                  type: integer
              required:
                - name
                - description
                - eventdatetime
                - location
                - organizer_id
                - url
                - topic_id
                - start_sales
                - end_sales
                - is_public
                - available_tickets
        responses:
          "200":
            description: "Ok. You can create the event."
          "403":
            description: "Unauthorized. You cannot create this event."

  ######## EDIT EVENT #########

  /event/edit:

    get:
      operationId: R602
      summary: "R602: Edit event page"
      description: "Show the edit event page. Access: EVOG"
      tags:
        - "M06: Event Organization and Attendence"

      responses:
        "200":
          description: "Ok. Show the edit event page."
        "302":
          description: "Redirect after processing the new user information."
          headers:
              Location:
                schema:
                  type: string
                example:
                  302Success:
                    description: "Successful. Redirect to login page."
                    value: "/login"

    post:
      operationId: R603
      summary: "R603: Edit event action"
      description: "Processes and edits the event. Access: EVOG"
      tags:
        - "M06: Event Organization and Attendence"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                eventDateTime:
                    type: string
                    format: date-time
                location:
                  type: string
                organizer_id:
                  type: integer
                url:
                  type: string
                topic_id:
                  type: integer
                startSales:
                    type: string
                    format: date-time
                endSales:
                    type: string
                    format: date-time
                is_public:
                  type: boolean
                available_tickets:
                  type: integer
              required:
                - name
                - description
                - eventdatetime
                - location
                - organizer_id
                - url
                - topic_id
                - start_sales
                - end_sales
                - is_public
                - available_tickets
      responses:
        "200":
          description: "Ok"


######## DELETE EVENT #########

  /event/delete:

    post:
      operationId: R604
      summary: "R604: Delete event action"
      description: "Processes and deletes the event. Access: EVOG"
      tags:
        - "M06: Event Organization and Attendence"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  type: integer
              required:
                - id
      responses:
        "200":
          description: "Ok. You can delete the event."
        "403":
          description: "Unauthorized. You cannot delete this event."
  

  ############################################ REPORTS ############################################

  /admin/reports:

    get:
      operationId: R701
      summary: "R701: Reports page"
      description: "Show the reports page. Access: ADM"
      tags:
        - "M07: Reports"

      responses:
        "200":
          description: "Ok. Show the reports page."
        "302":
          description: "Redirect after processing the new user information."
          headers:
              Location:
                schema:
                  type: string
                example:
                  302Success:
                    description: "Successful. Redirect to login page."
                    value: "/login"

  ############################################ REPORTS USERS ############################################

  /admin/reports/users:

    get:
      operationId: R702
      summary: "R702: Reports users page"
      description: "Show the reports users page. Access: ADM"
      tags:
        - "M07: Reports"

      responses:
        "200":
          description: "Ok. Show the reports users page."
        "302":
          description: "Redirect after processing the new user information."
          headers:
              Location:
                schema:
                  type: string
                example:
                  302Success:
                    description: "Successful. Redirect to login page."
                    value: "/login"

  ############################################ REPORTS EVENTS ############################################

  /admin/reports/events:

    get:
      operationId: R703
      summary: "R703: Reports events page"
      description: "Show the reports events page. Access: ADM"
      tags:
        - "M07: Reports"

      responses:
        "200":
          description: "Ok. Show the reports events page."
        "302":
          description: "Redirect after processing the new user information."
          headers:
              Location:
                schema:
                  type: string
                example:
                  302Success:
                    description: "Successful. Redirect to login page."
                    value: "/login"
                    